.fds-c-checkbox {
  display: inline-flex;
  appearance: none;
  background-color: var(--color--light-3);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1) inset;
  margin: 0;
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
  border: 1px solid var(--color--pale-1);
  border-radius: var(--border-radius);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  align-items: center;
  padding: 0;
  &::before {
    color: var(--color--white);
    // content: "\f34b";
    // font-family: uicons-regular-rounded !important;
    // content: "\f3c9"; // integration
    content: "\f34c"; // original
    font-family: uicons-bold-rounded !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    visibility: hidden;
    display: inline-block;
    vertical-align: top;
    line-height: inherit !important;

    font-size: 0.8em;
    width: 100%;
    text-align: center;
  }

  #{$hoverSelector} {
    color: var(--color--light-2);
  }
  #{$focusSelector} {
    background-color: var(--color--primary--light-2);
  }
  &:checked, &[checked], &:indeterminate, &[indeterminate] {
    background-color: var(--color--primary--dark-1);
    #{$hoverSelector} {
      color: var(--color--primary);
    }
    #{$focusSelector} {
      background-color: var(--color--primary);
    }
    &::before {
      visibility: visible;
    }
  }
  &:indeterminate, &[indeterminate] {
    &::before {
      margin-top: 2px;
      content: "\f7e8";
    }
  }
  #{$disabledSelector} {
    cursor: not-allowed;
    color: var(--color--pale-1);
  }
  #{$disabledSelector} {
    &:checked, &[checked] {
      color: var(--color--primary--pale-1);
    }
  }
}

label {
  > .fds-c-checkbox {
    margin-right: var(--spacing-m);
  }
}
