.fds-c-emergent__modal-overlay {
  display: flex;
  position: fixed;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1000;

  >.fds-c-emergent {
    display: flex;
    min-width: 450px;
  }
}

.fds-c-emergent {
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--color--pale-1);
  background-color: var(--color--white);

  display: none;
  flex-direction: column;
  height: auto;
  width: auto;
  max-height: calc(100vh - 50px);
  max-width: calc(100vw - 50px);
  box-shadow: var(--box-shadow);
  cursor: default;
  z-index: 1000;
  position: relative;

  flex-wrap: nowrap;
  align-content: stretch;
  // justify-content: space-evenly;
  justify-content: flex-start;
  align-items: stretch;

  &.fds-c-emergent--open {
    display: flex;
  }
}

.fds-c-emergent__loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: auto;
  background-color: rgba(0,0,0,0.1);
  border-radius: inherit;
  z-index: 1;
}

.fds-c-emergent__header {
  position: relative;
  display: flex;
  padding: var(--spacing-m) var(--spacing-l);
}

.fds-c-emergent__title {
  display: block;
  font-weight: var(--font-weight);
  color: var(--color--dark-1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
}

.fds-c-emergent__title--error {
  &::before {
    content: '';
    // background-image: url('images/icon-status-error.svg'); // Review
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    vertical-align: baseline;
    margin-bottom: -2px;
  }
}

.fds-c-emergent__close {
  cursor: pointer;
  background-color: white;
  // background-image: url('images/icon-close.svg'); // Review
  width: 16px;
  height: 16px;
  display: block;
  color: transparent !important;
  overflow: hidden;
  border-style: none;
  padding: 0;
  margin: 0;
  &:before {
    color: var(--color--pale-2);
    content: "\f458";
    // font-family: uicons-regular-rounded !important;
    // font-family: uicons-bold-rounded !important;
    font-family: uicons-regular-rounded !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // visibility: hidden;
    display: inline-block;
    vertical-align: top;
    line-height: inherit !important;

    font-size: 1em;
    width: 100%;
    text-align: center;
  }
}

.fds-c-emergent__body {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
  padding: var(--spacing-xl);

  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: stretch;
  min-height: 0;
  /*
  > * {
    min-height: 0; // Flex render glitch fix
  }
  */
}

.fds-c-emergent__footer {
  border-top: 1px solid var(--color--light-2);
}

.fds-c-emergent__actions {
  padding: var(--spacing-l);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  max-width: max-content;
  gap: var(--spacing-l);
  button {
    flex-grow: 1;
  }
}
