.fds-c-input {
  position: relative;
  padding: var(--spacing-xs) var(--spacing-m);
  display: inline-flex;
  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  background-color: var(--color--white);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap);
  // color: var(--color);
  color: var(--color--pale-2);
  border-color: var(--color--light-1);
  text-shadow: var(--text-shadow--light);
  box-shadow: var(--box-shadow--inset);
  // flex-grow: 1; // <----
  #{$hoverSelector}, #{$focusSelector} {
    border-color: var(--color--pale-2);
  }
  #{$focusSelector} {
    background-color: var(--color--light-3);
    background-image: var(--background-image--in);
    border-color: var(--color--primary);
    // outline: 1px solid var(--color--primary--light-1);
    // z-index: 1;
  }
  #{$disabledSelector} {
    color: var(--color--pale-1);
    border-color: var(--color--light-2);
    background-color: var(--color--light-3);
    cursor: not-allowed;
    box-shadow: none;
    user-select: none;
  }
  &:has(input, .fds-c-chip) {
    padding: 0;
  }
  input {
    padding: var(--spacing-xs) var(--spacing-m);
    background-color: transparent;
    border-style: none;
    width: 100%;
    min-width: 40px;
  }
  &::placeholder, input::placeholder {
    color: var(--color--pale-1);
  }
}
