.fds-c-switch {
  color: var(--color--pale-1);
  display: inline-flex;
  appearance: none;
  background-color: currentColor;
  box-shadow: 0 0 2px 1px rgb(0 0 0 / 10%) inset;
  margin: 0;
  min-width: 28px;
  min-height: 16px;
  max-width: 28px;
  max-height: 16px;
  border: 1px solid var(--color--pale-1);
  border-radius: 16px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  cursor: pointer;
  // align-self: center; // <----
  &::after {
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: var(--color--white);
    margin-left: 3px;
    transition: all 60ms ease-in-out;
  }
  #{$hoverSelector} {
    color: var(--color--light-2);
  }
  #{$focusSelector} {
    background-color: var(--color--primary--light-2);
  }
  &:checked, &[checked] {
    color: var(--color--primary--dark-1);
    #{$hoverSelector} {
      color: var(--color--primary);
    }
    #{$focusSelector} {
      background-color: var(--color--primary);
    }
    &::after {
      margin-left: 13px;
    }
  }
  #{$disabledSelector} {
    cursor: not-allowed;
    color: var(--color--pale-1);
  }
  #{$disabledSelector} {
    &:checked, &[checked] {
      color: var(--color--primary--pale-1);
    }
  }
}

label {
  > .fds-c-switch {
    margin-right: var(--spacing-m);
  }
}
