.c-tabs {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  gap: var(--spacing-m);
  padding: var(--spacing-s) var(--spacing-m) 0;
  border-bottom: var(--border-width) solid var(--color--pale-1);
  background-image: radial-gradient(ellipse 150% 20px at center 100%, #00000012 0px, transparent 50% 100%);
  &>li {
    display: flex;
    margin: 0;
    padding: 0;
    &>.c-action {
      cursor: pointer;
      border-bottom-style: none;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      padding: var(--spacing-xs) var(--spacing-m);
    }
  }
  &.c-tabs--bottom {
    border-bottom: none;
    border-top: var(--border-width) solid var(--color--pale-1);
    background-image: radial-gradient(ellipse 150% 20px at center 0%, #00000012 0px, transparent 50% 100%);
    padding: 0 var(--spacing-m) var(--spacing-s);
    &>li {
      align-self: start;
      &>.c-action {
        border-bottom-style: solid;
        border-top-stye: none;
        border-radius: 0 0 var(--border-radius) var(--border-radius);
      }
    }
  }
}

.c-tabs-content {
  overflow: auto;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}
