// It´s used to manage wrap/no-grap text behaviour
.fds-c-text-wrap {
  &.fds-c-text-wrap--multiline {
    display: inline-block;
  }
  &:not(.fds-c-text-wrap--multiline) {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3em;
    .fds-c-text-wrap__text {
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
