*,
*::before,
*::after {
  // color: inherit;
  box-sizing: border-box;
  outline-style: none;
  margin: 0;
}

// TODO: clean all pre styled rules from here

body, h1, h2, h3, h4, h5, h6, p,
figure, blockquote, dl, dd,
button, input, label {
  line-height: var(--line-height);
  margin-block-end: 0;
}

h1, h2,
h3, h4, h5, h6 {
  text-wrap: balance;
  font-weight: var(--font-weight--bold);
  font-size: initial;
  code {
    display: inline-block;
    line-height: 1;
    border-radius: 3px;
    padding: 0.2em 0.4em 0.1em;
    font-weight: normal;
    font-size: 0.8em;
  }
}

fieldset {
  border-style: none;
}

code {
  border: 1px solid var(--color--pale-1);
  background-color: var(--color--light-3);
  color: var(--color--pale-2);
}

pre,
code {
  font-family: var(--font-family--code);
  word-wrap: break-word;
  font-variant-ligatures: none;
  tab-size: 2;
  white-space: pre;
  word-break: normal;
}

pre {
  // padding: var(--spacing-m);
  border-radius: var(--border-radius);
  width: auto;
  overflow: auto;
  code {
    display: block;
    width: max-content;
    background-color: transparent;
    border-style: none;
  }
}

mark {
  background-color: var(--color-yellow);
  color: inherit;
  font-weight: var(--font-weightv-semibold);
}

strong {
  font-weight: var(--font-weight--bold);
}

img,
canvas,
iframe,
video,
svg {
  max-width: 100%;
  display: block;
}

a {
  color: var(--color--primary);
  text-decoration: underline;

  &:hover {
    color: var(--color--primary--light-1);
  }

  &:active,
  &:focus {
    color: var(--color--primary--dark-1);
    outline: none;
  }
}

input, button,
textarea, select, label {
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

button {
  user-select: none;
}

label {
  display: inline-block;
  font-weight: var(--font-weight--bold);
}

textarea {
  display: block;
  resize: vertical;
  min-height: 10em;
  &:disabled {
    resize: none;
  }
}

details {
  display: block;
  border: 1px solid var(--color--pale-1);
  margin-bottom: var(--spacing-xl);
  summary {
    display: flex;
    cursor: pointer;
    margin: 0;
    padding: var(--spacing-xl) var(--spacing-l);
  }
  &[open] summary {
    border-bottom: 1px solid var(--color--pale-1);
  }
  > * {
    margin: 0 var(--spacing-xl) var(--spacing-l);
  }
}
